/* I M P O R T S
-------------------------------------------------------------------------------*/
@import 'reset';


/* V A R I A B L E S
-------------------------------------------------------------------------------*/
$min-height: 300px;


/* F O N T S
-------------------------------------------------------------------------------*/
@font-face {
  font-family: 'NeoNoire';
  src: url('../fonts/SNNeoNoire-Regular.ttf') format('truetype');
}


/* S T Y L E S
-------------------------------------------------------------------------------*/
html,
body {
  overflow: hidden;
}

// html.viper-page {
//   overflow: auto;
// }

body {
  font: 13px Helmet, Freesans, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'NeoNoire', Arial;
}


/* Animated Background
-------------------------------------------------------------------------------*/
#viper-animated_bg {
  width: 1920px;
  height: 1080px;
  background: linear-gradient(-90deg, #ff0000, #ffdb78, #ff0000);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;

  &.alert {
    background: linear-gradient(-90deg, #ff0000, #ffffff, #ff0000, #ffffff, #ff0000);
    background-size: 200% 200%;
	  animation: gradient 1.5s ease infinite;
  }

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 200% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Info Bar ( followers, subs, etc )
-------------------------------------------------------------------------------*/
#viper-info_bar {
  height: 50px;
  position: relative;
  width: 1880px;
  
  
  div.command {
    display: inline-block;
    height: 50px;
    padding: 0 15px;
    position: relative;
    top: -50px;

    h1 {
      color: #fff;
      font-size: 25px;
      line-height: 47px;
      text-shadow: -3px 3px #000;
    }

    &.cmd { animation: infobar 60s ease infinite; }
    &.discord { animation: infobar 60s ease infinite; animation-delay: 0.2s; }
    &.socials { animation: infobar 60s ease infinite; animation-delay: 0.4s; }
    &.lurk { animation: infobar 60s ease infinite; animation-delay: 0.6s; }

  }

}

@keyframes infobar {
	0% {
		top: -50px;
    left: 0px;
	}
	1% {
		top: 0px;
    left: 0;
	}
  49% {
    top: 0px;
    left: 0;
  }
  50% {
    left: -940px;
  }
  75% {
    top: -50px;
    left: -940px;
  }
  100% {
    top: -50px;
    left: 0px;
  }
}