<%- include("templates/header") %>

<div id="viper-info_bar">
    
<div class="command cmd"><h1>!cmds</h1></div><div class="command discord"><h1>!discord</h1></div><div class="command socials"><h1>!socials</h1></div><div class="command lurk"><h1>!lurk</h1></div>

</div>

<%- include("templates/footer") %>