<%- include("templates/header") %>

<div id="viper-info_bar">
    
<div class="command cmd"><h1>!cmds</h1></div><div class="command discord"><h1>!discord</h1></div><div class="command socials"><h1>!socials</h1></div><div class="command lurk"><h1>!lurk</h1></div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    // var socket = io('http://localhost:5000');
    
    // socket.on('greeting-from-server', function (message) {
    //     document.body.appendChild(
    //         document.createTextNode(message.greeting)
    //     );
    //     socket.emit('greeting-from-client', {
    //         greeting: 'Hello Server'
    //     });
    // });
</script>

<%- include("templates/footer") %>