<%- include("templates/header") %>

<div id="viper-text_alert">
<h1></h1>
</div>

<script>
    var socket = io('http://localhost:5000');
    var textAlertTimeout;

    socket.on('text-alert', function (message) {
        var text = message.message;        
        document.querySelector('h1').innerHTML = text.replace(/'/gi,"").replace(/ /gi,"&nbsp;&nbsp;");
        if(!document.querySelector('h1').classList.contains('fade')) {
            document.querySelector('h1').classList.toggle('fade');
            textAlertTimeout = setTimeout(() => {
                document.querySelector('h1').classList.toggle('fade');
            }, "10000");
        } else {
            clearTimeout( textAlertTimeout );
            textAlertTimeout = setTimeout(() => {
                document.querySelector('h1').classList.toggle('fade');
            }, "10000");
        }      
    });


</script>

<%- include("templates/footer") %>