/* I M P O R T S
-------------------------------------------------------------------------------*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body, select, input, textarea {
  color: #333;
}

a {
  color: #03f;
}

a:hover {
  color: #69f;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
/*  j.mp/webkit-tap-highlight-color */
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}

textarea:-moz-placeholder {
  color: #a9a9a9;
}

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {
  padding: 16px;
  background: #eee;
}

/* F O N T S
-------------------------------------------------------------------------------*/
@font-face {
  font-family: "NeoNoire";
  src: url("../fonts/SNNeoNoire-Regular.ttf") format("truetype");
}
/* S T Y L E S
-------------------------------------------------------------------------------*/
html,
body {
  overflow: hidden;
}

body {
  font: 13px Helmet, Freesans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "NeoNoire", Arial;
}

/* Animated Background
-------------------------------------------------------------------------------*/
#viper-animated_bg {
  width: 1920px;
  height: 1080px;
  background: linear-gradient(-90deg, #ff0000, #ffdb78, #ff0000);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}
#viper-animated_bg.alert {
  background: linear-gradient(-90deg, #ff0000, #ffffff, #ff0000, #ffffff, #ff0000);
  background-size: 200% 200%;
  animation: gradient 1.5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Info Bar ( chat commands )
-------------------------------------------------------------------------------*/
#viper-info_bar {
  height: 100px;
  position: relative;
  width: 1880px;
}
#viper-info_bar div.command {
  display: inline-block;
  height: 100px;
  padding: 0 25px;
  position: relative;
  top: -100px;
}
#viper-info_bar div.command h1 {
  color: #fff;
  font-size: 40px;
  line-height: 97px;
  text-shadow: -3px 3px #00fffc, -6px 6px #ff00f0, -9px 9px #000;
}
#viper-info_bar div.command.cmd {
  animation: infobar 90s ease infinite;
}
#viper-info_bar div.command.discord {
  animation: infobar 90s ease infinite;
  animation-delay: 0.2s;
}
#viper-info_bar div.command.socials {
  animation: infobar 90s ease infinite;
  animation-delay: 0.4s;
}
#viper-info_bar div.command.lurk {
  animation: infobar 90s ease infinite;
  animation-delay: 0.6s;
}

@keyframes infobar {
  0% {
    top: -100px;
    left: 0px;
  }
  1% {
    top: 0px;
    left: 0;
  }
  19% {
    top: 0px;
    left: 0;
  }
  20% {
    left: -1040px;
  }
  99% {
    top: -100px;
    left: -1040px;
  }
  100% {
    top: -100px;
    left: 0px;
  }
}
/* Info Bar ( chat commands )
-------------------------------------------------------------------------------*/
#viper-info_bar_side {
  height: 690px;
  padding: 350px 0 0 0;
  position: relative;
  width: 1880px;
}
#viper-info_bar_side div.command {
  padding: 0 0 15px 25px;
  position: relative;
  width: 300px;
  top: 0px;
  left: -350px;
}
#viper-info_bar_side div.command h1 {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  text-shadow: -3px 3px #00fffc, -6px 6px #ff00f0, -9px 9px #000;
}
#viper-info_bar_side div.command.cmd {
  animation: infobar_side 150s ease infinite;
  border-radius: 0 20px 0 0;
}
#viper-info_bar_side div.command.lurk {
  animation: infobar_side 150s ease infinite;
  animation-delay: 0.2s;
}
#viper-info_bar_side div.command.socials {
  animation: infobar_side 150s ease infinite;
  animation-delay: 0.4s;
}
#viper-info_bar_side div.command.discord {
  animation: infobar_side 150s ease infinite;
  animation-delay: 0.6s;
  border-radius: 0 0 20px 0;
}

@keyframes infobar_side {
  0% {
    left: -650px;
  }
  1% {
    left: 0;
  }
  9% {
    left: 0;
  }
  10% {
    left: -650px;
  }
  100% {
    left: -650px;
  }
}
/* Knight Rider Voice Box Overlay
-------------------------------------------------------------------------------*/
#viper-knight_rider {
  width: 450px;
  display: flex;
  align-items: center;
  background-color: #000;
}
#viper-knight_rider .voice {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#viper-knight_rider .col {
  display: inline-flex;
  flex-direction: column;
}
#viper-knight_rider .item {
  width: 55px;
  height: 15px;
  background: #000;
  margin: 3px 8px;
}
#viper-knight_rider .red1 {
  background: #0050b9;
  box-shadow: 0 0 1px 1px #0050b9;
}
#viper-knight_rider .red2 {
  background: #003a86;
  box-shadow: 0 0 1px 1px #003a86;
}
#viper-knight_rider .red3 {
  background: #001c41;
  box-shadow: 0 0 1px 1px #001c41;
}
#viper-knight_rider .red4 {
  background: #000f22;
  box-shadow: 0 0 1px 1px #000f22;
}
#viper-knight_rider .off {
  opacity: 0.5;
}
#viper-knight_rider .button {
  width: 60px;
  height: 35px;
  border-radius: 25px;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
#viper-knight_rider .button.yellow {
  background: yellow;
}
#viper-knight_rider .button.red {
  background: red;
}
#viper-knight_rider .init {
  border: 1px solid #555;
  background: RGBA(155, 155, 155, 0.15);
  color: #777;
  padding: 10px;
  margin: auto;
  width: 500px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
#viper-knight_rider .disable {
  display: none;
}

#viper-text_alert {
  padding: 10px 100px;
  width: 1880px;
}
#viper-text_alert h1 {
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-shadow: -3px 3px #00fffc, -6px 6px #ff00f0, -9px 9px #000;
  width: 1680px;
  height: auto;
  opacity: 0;
  transition: opacity 1s;
  word-wrap: break-word;
}
#viper-text_alert h1.fade {
  opacity: 1;
}

@keyframes coinfade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#viper-tv_guide {
  height: 1080px;
  width: 1920px;
  background: #efefef;
  position: absolute;
  overflow: hidden;
}
#viper-tv_guide #green-screen {
  position: absolute;
  background: url("../img/purple_bg_2.jpg");
  background-position-y: 50%;
  background-size: cover;
  height: 50%;
  width: 100%;
  z-index: 10;
}
#viper-tv_guide table {
  position: relative;
  top: 50%;
  width: 100%;
}
#viper-tv_guide table th,
#viper-tv_guide table td {
  border-top: 5px solid #787887;
  border-left: 5px solid #b3b7d6;
  border-right: 5px solid #000252;
  border-bottom: 5px solid #07083b;
  font-size: 45px;
  font-weight: bold;
  font-family: "Arial", "Calibri", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -3px;
  line-height: 50px;
  padding: 7px 10px 5px;
  text-shadow: 3px 3px black;
}
#viper-tv_guide table thead {
  position: relative;
  z-index: 1;
}
#viper-tv_guide table thead th {
  background-color: #112385;
  color: #e2d560;
  width: 21.25%;
}
#viper-tv_guide table thead th#current-time {
  color: #fff;
  width: 15%;
}
#viper-tv_guide table tbody {
  position: relative;
  animation: tvguide 35s linear infinite;
}
#viper-tv_guide table tbody tr {
  width: 100%;
}
#viper-tv_guide table tbody td {
  background-color: #0f2555;
  color: #fff;
}
#viper-tv_guide table tbody td.channel-title {
  color: #e2d560;
  text-align: center;
}
#viper-tv_guide table tbody tr.viperverse td {
  padding: 100px 10px;
  background-color: #05122c;
  text-align: center;
  font-family: "NeoNoire", Arial;
  font-size: 100px;
  letter-spacing: 0px;
  text-shadow: -3px 3px #00fffc, -6px 6px #ff00f0, -9px 9px #000;
}

@keyframes tvguide {
  0% {
    top: 0;
  }
  100% {
    top: -2456px;
  }
}
/* 80s grid home page
-------------------------------------------------------------------------------*/
.home-page {
  /*stars*/
}
.home-page .grid {
  position: absolute;
  bottom: -28.3%;
  left: 0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(90deg, var(--grid-color, black) 0%, transparent calc(1px + var(--grid-blur, 0px)), transparent var(--grid-size), var(--grid-color, black) calc(var(--grid-size) + 1px + var(--grid-blur, 0px))), repeating-linear-gradient(180deg, var(--grid-color, black) 0%, transparent calc(1px + var(--grid-blur, 0px)), transparent var(--grid-size), var(--grid-color, black) calc(var(--grid-size) + 1px + var(--grid-blur, 0px)));
  transform: perspective(50vh) rotateX(60deg) translateZ(10px);
  animation: moving-grid 0.5s infinite linear;
  z-index: -1;
}
@keyframes moving-grid {
  0% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px) translateY(-var(--grid-size));
  }
  100% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size));
  }
}
.home-page .overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent 1px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  pointer-events: none;
}
.home-page .background-80s {
  background: linear-gradient(to bottom, #010310 0, #0c1142 24%, #45125e 45%, #d53567 60%, #f0c3d9 65%, #0c1142 65%) fixed;
  background-size: 100% var(--background-height, 100vh);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: var(--background-height, 100vh);
  z-index: -2;
}
.home-page .animated-clouds:before {
  filter: url(#filter);
}
.home-page .background-80s:before {
  content: "";
  background: linear-gradient(to bottom, #010310 0, #0c1142 24%, #45125e 45%, #d53567 60%, #f0c3d9 65%, #0c1142 65%) fixed;
  width: 100%;
  height: 55%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0.2;
}
.home-page .stars:after {
  transform: translateY(-40%);
  content: " ";
  border-radius: 100%;
  width: 3px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 5vw 15vh 2px white, 1vw 33vh 0px white, 2vw 25vh 2px white, 10vw 10vh 2px white, 12vw 20vh 0px white, 30vw 15vh 2px white, 16vw 5vh 2px white, 24vw 10vh 0px white, 32vw 40vh 0px white, 33vw 35vh 2px white, 12vw 38vh 2px white, 24vw 10vh 0px white, 33vw 5vh 2px white, 20vw 10vh 0px white, 80vw 10vh 2px white, 62vw 20vh 0px white, 60vw 15vh 2px white, 70vw 7vh 0px white, 62vw 50vh 0px white, 65vw 35vh 2px white, 64vw 10vh 0px white, 85vw 2vh 0px white, 92vw 40vh 0px white, 75vw 35vh 2px white, 90vw 10vh 0px white;
  opacity: 0.3;
  animation: glitter 2s infinite;
}
@keyframes glitter {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
.home-page .text {
  position: absolute;
  left: 50%;
  top: 36%;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.home-page .chrome {
  font-family: "NeoNoire", Arial;
  font-weight: 900;
  font-size: calc(30px + 10vh);
  background-image: linear-gradient(#2989cc 0%, #d3e5ec 50%, #592451 51%, #b3628d 55%, #592451 59%, #b3628d 65%, #ac86a6 75%, #b3628d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.home-page .chrome:before {
  content: attr(data-text);
  text-shadow: -1px -1px 1px #2989cc, -2px -2px 1px #2989cc, -3px -3px 1px #2989cc, 1px 1px 1px #000, 0px -1px 2px #000, -1px -2px 2px #000, 0 0 5px rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  z-index: -1;
}
.home-page .shine:after {
  content: attr(data-text);
  background-image: linear-gradient(225deg, transparent 53%, white 55%, transparent 58%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-clip: text;
  z-index: 999;
  background-size: 400% 400%;
  animation: shine 15s ease infinite;
  animation-delay: var(--shine-delay, 0s);
}
@keyframes shine {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
.home-page .spark {
  margin-top: 4vh;
  margin-left: -0.3em;
  line-height: 0;
  position: absolute;
  width: 37px;
  height: 45px;
  z-index: 999;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='120 250 1700 1200' width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3E%3C!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ --%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='182' y='-1' x='-1'/%3E%3Cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3E%3Crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cellipse ry='183' rx='5' id='svg_2' cy='197.0375' cx='274.5' stroke-width='0' stroke='%23000' fill='%23fff'/%3E%3Cellipse transform='rotate(90 274.50000000000006,197.03750610351565) ' ry='183' rx='5' id='svg_3' cy='197.0375' cx='274.5' stroke-width='0' stroke='%23000' fill='%23fff'/%3E%3Cellipse stroke='%23000' transform='rotate(126.69925689697266 276.19342041015625,195.4363708496094) ' ry='90.194158' rx='3.223029' id='svg_4' cy='195.43637' cx='276.193439' stroke-width='0' fill='%23fff'/%3E%3Cellipse stroke='%23000' transform='rotate(-134.6077117919922 276.19342041015625,195.43637084960938) ' ry='90.194158' rx='3.223029' id='svg_5' cy='195.43637' cx='276.193439' stroke-width='0' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
  filter: blur(0.5px);
  transform: scale(0);
  animation: blip 5s infinite;
  animation-timing-function: ease-in-out;
}
.home-page .chrome:last-of-type .spark {
  animation-delay: -2.5s;
}
@-webkit-keyframes blip {
  0% {
    transform: scale(0);
  }
  5% {
    transform: scale(1.2) rotate(0deg);
  }
  6% {
    transform: scale(1) rotate(0deg);
  }
  8% {
    transform: scale(1) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}
.home-page .road {
  --grid-size:90px;
  --road-color:#2a025d;
  position: absolute;
  bottom: -30%;
  left: 0;
  margin-left: calc(50% - 100px);
  width: 200px;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(90deg, #a684cb 0%, #a684cb 2%, var(--road-color, rgb(115, 59, 139)) 2%, var(--road-color, rgb(115, 59, 139)) 98%, #a684cb 98%);
  transform: perspective(50vh) rotateX(60deg);
  z-index: -1;
}
.home-page .road:after {
  content: "";
  --grid-size:90px;
  position: absolute;
  margin-left: calc(50% - 5px);
  width: 10px;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(0deg, #a684cb 0%, #a684cb 10%, transparent 10%, transparent 20%);
  animation: moving-grid 0.5s infinite linear;
}

@media screen and (max-width: 1140px) {
  .home-page .chrome {
    font-size: calc(10px + 7vh);
  }
}
@media screen and (max-width: 740px) {
  .home-page .text {
    top: 25%;
  }
  .home-page .chrome {
    font-size: calc(10px + 5vh);
  }
}

/*# sourceMappingURL=style.css.map */
